@model Blog.Models.PageModel
<div class="pagination justify-content-center" page-model="@Model" page-action="@Model.PageAction"
    page-classes-enabled="true" page-controller="@Model.PageController"
    page-class="btn" page-class-normal="btn-outline-dark"
    page-class-selected="btn-dark">
</div>