@model Blog.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Category Posts";
}
<div>
    <h2 style="font-size:16px; font-family: 'Merriweather', serif">Поиск по категории:
        <strong>@ViewData["CategoryName"]</strong></h2>
</div>
@Html.Partial("PostList", Model.Posts)
@Html.Partial("Pagination", Model.PageModel)